* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

.wrapper {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.page {
  scroll-snap-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-1{
  background-color: #de5448;
}
#page-2 {
  background: #4267b2;
}
#page-3 {
  background: #4CAF50;
}
#page-4 {
  background: #d1be15;
}
#template{
  height: 80vh;
  overflow: scroll;
}

/* Navigation */
.navigation-wrapper {
  color: rgba(15, 34, 136, 0.75);
  display: flex;
  flex-direction: row;
}
.navigation-wrapper>div:hover {
  color: rgb(33, 8, 56);
}
.btn-1{
  position: fixed;
  left: 35%;
  right: 65%;
  bottom: 20px;
  z-index: 1;

}
.currentPage {
  position: fixed;
  left: 50%;
  right: 50%;
  font-size: 30px;
  font-weight: 700;
  margin: 0px 15px 5px 15px;
  bottom: 20px;
  z-index: 1;
}
.btn-3{
  position: fixed;
  left: 65%;
  right: 35%;
  bottom: 20px;
  z-index: 1;
}
/* Navigation End*/

.toolbar-item button{
  cursor: pointer !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 15px !important;
  padding: 5px 14px !important;
}